{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'game_list' %}">GamePoisk</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Copyright &copy; 2025 Official site | GamePoisk</p>
    </footer>
</body>
</html>